* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f3f5fc;
}

.logo {
  position: absolute;
  top: 4%;
}

.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  top: 16%;
  left: 12%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 170%;
  letter-spacing: 2px;
  background: #f3f5fc;
  border-radius: 25px;
  padding-left: 2%;
  color: #0a3871;
  resize: none;
}

.texto::placeholder {
  color: #0a3871;
  position: absolute;
}

.texto:focus,
:active {
  outline: none;
  border: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 13%;
  top: 80%;
}

.terminos p {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #66686b;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 1%;
  position: absolute;
  gap: 25px;
  width: 80%;
  left: 12%;
  top: 83%;
  cursor: pointer;
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #0a3871;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 24px;
  border: 1px solid #0a3871;
}

.btn-encriptar:hover {
  background: #072b61;
}

.btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #495057;
  color: #ffffff;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid #0a3871;
}

.btn-desencriptar:hover {
  background: #2b2f33;
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 35%;
  height: 92%;
  left: 60%;
  top: 5%;
  background: #ffffff;
  box-shadow: 0px 10px 30px -10px #070707;
  border-radius: 20px;
}

.mensaje_encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje_encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje_encriptado p {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

.mostrar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 35%;
  height: 92%;
  left: 60%;
  top: 5%;
  bottom: 45%;
  box-shadow: 0px 20px 35px -10px #000000;
  border-radius: 25px;
  display: none;
  overflow: hidden;
}

.mensaje {
  position: absolute;
  width: 42%;
  height: 100%;
  width: 100%;
  padding-top: 4%;
  padding-left: 1%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 1px;
  background: #ffffff;
  overflow: auto;
  outline: none;
  border: none;
  box-shadow: 0px 20px 20px -8px;
  border-radius: 25px;
  display: none;
  color: #0a3871;
}

.btn-copiar {
  position: absolute;
  top: 87%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  left: 23%;
  padding: 5%;
  gap: 8px;
  width: 55%;
  background: #495057;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  display: none;
}

.btn-copiar:hover {
  background: #2b2f33;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(43, 47, 51);
  background: linear-gradient(
    90deg,
    rgba(43, 47, 51, 1) 36%,
    rgba(10, 56, 113, 1) 58%
  );
  width: 100%;
  color: #ffffff;
  font-family: sans-serif;
  padding: 0.5%;
}

.footer h3 {
  margin-left: 4%;
  font-style: oblique;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer a {
  justify-content: space-evenly;
  color: #ffffff;
  margin-right: 1px;
  margin-left: 1%;
}

/*RESPONSIVE*/

/*CELULAR*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .encriptado img {
    top: 0%;
    display: none;
  }
 
  .texto {
    width: 90%;
    height: 30%;
    left: 4%;
    top: 16%;
    font-size: 35px;
    
  }

  .logo {
    left: -7%;
  }

  .logo img {
    width: 100%;
  }

  .terminos {
    width: 80%;
    left: 22%;
    top: 50%;
  }
  .terminos p {
    font-size: 16px;
  }

  .botones {
    flex-direction: column;
    top: 55%;
    left: 9%;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 100%;
    border-radius: 25px;
    padding: 6%;
  }

  .encriptado {
    width: 85%;
    height: 25%;
    left: 7.5%;
    top: 77%;
    font-size: 29px;
    overflow: hidden;
  }

  .encriptado h2 {
    font-size: 30px;
    width: 100%;
  }

  .encriptado p {
    font-size: 20px;
    width: 100%;
  }

  .mensaje_encriptado {
    width: 100%;
    top: 20%;
  }

  .mostrar {
    width: 85%;
    height: 90%;
    left: 7.5%;
    top: 77%;
    background: #ffffff;
    overflow: hidden;
  }

  .mensaje {
    width: 100%;
    height: 100%;
    background: #ffffff;
    line-height: normal;
  }

  .btn-copiar {
    top: 90%;
    width: 85%;
    padding: 3%;
    left: 6.5%;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }

  .btn-copiar:hover {
    background: #2b2f33;
    color: #ffffff;
  }

  .footer {
 display: none;
}
}  

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .encriptado img {
    top: 0%;
    display: none;
  }

  .encriptado {
    width: 100%;
  }

  .texto {
    width: 87%;
    height: 45%;
    left: 4%;
    top: 18%;
  }

  .terminos {
    width: 80%;
    left: 4%;
    top: 66%;
  }
  .terminos p {
    font-size: 16px;
  }

  .botones {
    width: 90%;
    top: 70%;
    left: 4%;
    gap: 50px;
  }

  .btn-encriptar,
  .btn-desencriptar {
    width: 45%;
    border-radius: 16px;
    padding: 3%;
  }

  .encriptado {
    width: 89%;
    height: 15%;
    left: 4%;
    top: 82%;
    font-size: 29px;
  }

  .mensaje_encriptado {
    width: 100%;
    top: 20%;
  }

  .mostrar {
    width: 89%;
    height: 60%;
    left: 4%;
    top: 82%;
    background: #ffffff;
    overflow: hidden;
  }

  .mensaje {
    width: 100%;
    height: 100%;
    background: #ffffff;
    line-height: normal;
  }

  .btn-copiar {
    top: 80%;
    width: 85%;
    padding: 3%;
    left: 6.5%;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }

  .btn-copiar:hover {
    background: #2b2f33;
    color: #ffffff;
  }
}
